{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page_title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block head_scripts %}
		<!--[if lte IE 8]><script src="{% static "js/ie/html5shiv.js" %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static "css/main.css" %}" />
        <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static "css/ie8.css" %}" /><![endif]-->
        {% endblock head_scripts %}
	</head>
	<body>
            <!-- Content -->
			<div id="content">
                <div class="top-navbar">
                    {% block top_navbar %}

                    {% endblock top_navbar %}
                    <div class="top-navbar-contact">
                        <span>Email @ codenginebd@gmail.com</span>&nbsp; &nbsp; <span>Phone @ +8801623067403</span>
                    </div>
                </div>
                <div>
                    <div class="menu-bar">
                        {% block menu_bar %}

                        {% endblock menu_bar %}
                    </div>
                </div>
                {% block content_container %}
                <div class="left-sidebar">
                        <nav id="nav">
                            {% block left_nav %}

                            {% endblock left_nav %}
                        </nav>
                </div>
				<div class="inner article-content" style="float: left; width: 80%;">
                    {% block main_content %}
					<!-- Post -->
                        {% include "sections/article.html" %}
                    {% endblock main_content %}
                    {% block pagination %}

                    {% endblock pagination %}
				</div>
                {% endblock content_container %}
			</div>

		{% block bottom_scripts %}
            <script src="{% static "js/jquery.min.js" %}"></script>
			<script src="{% static "js/skel.min.js" %}"></script>
			<script src="{% static "js/util.js" %}"></script>
			<!--[if lte IE 8]><script src="{% static "js/ie/respond.min.js" %}"></script><![endif]-->
			<script src="{% static "js/main.js" %}"></script>
        {% endblock bottom_scripts %}
        <style type=text/css>
            .top-navbar {
                border: none;
                padding-top: 10px;
                background: #119acc url(https://resources.blogblog.com/blogblog/data/1kt/simple/gradients_light.png) repeat-x scroll 0 -400px;
                min-height: 100px;
                color: white;
                width: 100%;
                position: relative;
                border-bottom: 1px solid gray;
                text-align: right;
            }
            .top-navbar-contact {
                margin-right: 20px;
            }
            .top-navbar ul {
            }
            .top-navbar ul li {
                padding: 10px;
                margin-right: 10px;
                display: inline;
            }
        .top-navbar ul li a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
        }
        .top-navbar ul li a:hover {
            text-decoration: underline;
        }
        .menu-bar ul li {
            padding: 10px;
            margin-right: 10px;
            display: inline;
        }
        .menu-bar ul li a {
            color: #119acc;
            text-decoration: none;
        }
        .menu-bar ul li a:hover {
            text-decoration: underline;
        }
        .left-sidebar {
            float: left;width: 20%;
            padding-right: 30px;
            margin-top: 60px;
        }
        .menu-bar {
            float: left;
            width: 60%;
        }
        .search-bar {
            float: left;
            width: 40%;
            text-align: right;
        }
        #content {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            padding: 10px 40px 20px 40px;
        }
        li.active a {
            text-decoration: underline !important;
        }
        </style>
	</body>
</html>