{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
        <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "plugins/images/favicon.png" %}">
        <title>Zabia - Test</title>
        <!-- Bootstrap Core CSS -->
        <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" %}" rel="stylesheet">
        <!-- Menu CSS -->
        <link href="{% static "plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" %}" rel="stylesheet">
        <!--nestable CSS -->
        <link href="{% static "plugins/bower_components/nestable/nestable.css" %}" rel="stylesheet" type="text/css" />
        <!-- toast CSS -->
        <link href="{% static "plugins/bower_components/toast-master/css/jquery.toast.css" %}" rel="stylesheet">
        <!-- morris CSS -->
        <link href="{% static "plugins/bower_components/morrisjs/morris.css" %}" rel="stylesheet">
        <!-- animation CSS -->
        <link href="{% static "css/animate.css" %}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <!-- color CSS -->
        <link href="{% static "css/colors/purple-dark.css" %}" id="theme" rel="stylesheet">
        <link href="{% static "plugins/bower_components/datatables/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
        <!--alerts CSS -->
        <link href="{% static "plugins/bower_components/sweetalert/sweetalert.css" %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery -->
        <script src="{% static "plugins/bower_components/jquery/dist/jquery.min.js" %}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "bootstrap/dist/js/tether.min.js" %}"></script>
        <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js" %}"></script>
        <!-- Menu Plugin JavaScript -->
        <script src="{% static "plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js" %}"></script>
        <!--slimscroll JavaScript -->
        <script src="{% static "js/jquery.slimscroll.js" %}"></script>
        <!--Wave Effects -->
        <script src="{% static "js/waves.js" %}"></script>
        <script src="{% static "plugins/bower_components/toast-master/js/jquery.toast.js" %}"></script>
        <script src="{% static "plugins/bower_components/datatables/jquery.dataTables.min.js" %}"></script>
        <!-- start - This is for export functionality only -->
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <!-- Sweet-Alert  -->
        <script src="{% static "plugins/bower_components/sweetalert/sweetalert.min.js" %}"></script>
        <script src="{% static "plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js" %}"></script>
        <!--Nestable js -->
        <script src="{% static "plugins/bower_components/nestable/jquery.nestable.js" %}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{% static "js/custom.min.js" %}"></script>
        <!--Style Switcher -->
        <script src="{% static "plugins/bower_components/styleswitcher/jQuery.style.switcher.js" %}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" %}"></script>
    </head>
    <body>
        <div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <div id="wrapper">
            <!-- Navigation -->
                        <nav class="navbar navbar-default navbar-static-top m-b-0">
                <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                    <div class="top-left-part">
                        <a class="logo" href="principal.php"><img src="assets/plugins/images/logo_50.jpg" alt="home" /></a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                                <img src="{% static "plugins/images/users/user.jpg" %}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">johnny.salgado.marquez@gmail.com</b>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated flipInY">
                                <li><a href="contrasena.php"><i class="fa fa-asterisk"></i> Cambiar contrase&ntilde;a</a></li>
                                <li><a href="logout.php"><i class="fa fa-power-off"></i> Salir</a></li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Left navbar-header -->
                        <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                    <ul class="nav" id="side-menu">
                        <li class="nav-small-cap m-t-10">--- Maestras</li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-recipe">
                                <i class="linea-icon linea-basic fa-fw fa fa-cutlery"></i>
                                <span class="hide-menu"> Recetas <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="recetas.php">Lista</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-ingredient">
                                <i class="linea-icon linea-basic fa-fw fa fa-circle"></i>
                                <span class="hide-menu"> Insumos <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="insumos.php?a=1">Lista de insumos</a> </li>
                                <li> <a href="nutrientes.php">Lista de nutrientes</a> </li>
                                <li> <a href="insumo_por_orac.php">Insumos por ORAC</a> </li>
                                <li> <a href="subir_imagen_insumo.php">Subir im&aacute;genes de insumo</a> </li>
                                <li> <a href="subir_insumo_medida.php">Subir gramaje</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-place">
                                <i class="linea-icon linea-basic fa-fw fa fa-cubes"></i>
                                <span class="hide-menu"> Places <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="restaurantes.php">Lista de restaurantes</a> </li>
                                <li> <a href="groceries.php">Lista de tiendas (grocery)</a> </li>
                                <li> <a href="biotiendas.php">Lista de bio tiendas</a> </li>
                                <li> <a href="terapiaalternativas.php">Lista de terapias alternativa</a> </li>
                                <li> <a href="subir_comercio.php">Subir comercios</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-flow">
                                <i class="linea-icon linea-basic fa-fw fa fa-wechat"></i>
                                <span class="hide-menu"> Chat <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="flujochat.php">Configuraci&oacute;n flujo</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-user">
                                <i class="linea-icon linea-basic fa-fw fa fa-user"></i>
                                <span class="hide-menu"> Usuarios <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="usuarios.php">Lista de usuarios</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-tip">
                                <i class="linea-icon linea-basic fa-fw fa fa-circle-o"></i>
                                <span class="hide-menu"> Tips <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="tips.php">Lista</a> </li>
                                <li> <a href="subir_tip.php">Subir tips</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-tag">
                                <i class="linea-icon linea-basic fa-fw fa fa-hashtag "></i>
                                <span class="hide-menu"> Tags <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="tags.php">Lista</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-label">
                                <i class="linea-icon linea-basic fa-fw fa fa-dashcube"></i>
                                <span class="hide-menu"> Label <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="labels.php">Lista</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-informe">
                                <i class="linea-icon linea-basic fa-fw fa fa-newspaper-o "></i>
                                <span class="hide-menu"> Informe <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="informesecciones.php">Secciones</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-tabla">
                                <i class="linea-icon linea-basic fa-fw fa fa-clone "></i>
                                <span class="hide-menu"> Tablas <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="paises.php">Pa&iacute;s</a> </li>
                                <li> <a href="tipo_dieta.php">Tipos de dieta</a> </li>
                                <li> <a href="enfermedades.php">Enfermedades</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-cuestionario">
                                <i class="linea-icon linea-basic fa-fw fa fa-newspaper-o "></i>
                                <span class="hide-menu"> Cuestionario de Perfil <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="cuestionario.php">Prueba</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect" id="nav-fitbit">
                                <i class="linea-icon linea-basic fa-fw fa fa-newspaper-o "></i>
                                <span class="hide-menu"> Servicios externos <span class="fa arrow"></span> </span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li> <a href="callback_fitbit.php">Fitbit</a> </li>
                                <li> <a href="clima_api_conexion.php">Clima</a> </li>
                                <li> <a href="voz.php">Voz</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="logout.php" class="waves-effect">
                                <i class="icon-logout fa-fw"></i>
                                <span class="hide-menu"> Salir </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Left navbar-header end -->
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row bg-title">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 class="page-title">Cuestionario de salud de johnny.salgado.marquez@gmail.com</h4>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="white-box">
                                <hr />
                                <h3>Personal</h3>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>1. Name </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>{{ object.full_name }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>2. Email </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>{{ object.get_email }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>3. Age </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>{{ object.render_age }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>4. Gender </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>{{ object.render_gender }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>5. Body weight (Kg) </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>{{ object.render_weight }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>6. Height (m) </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>{{ object.render_height }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>7. Country </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>-</span>
                                    </div>
                                </div>
                            </div>
                                <hr />
                                <h3>Life style</h3>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>1. Are you willing to take supplements? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>Yes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>2. On average, How long do you sleep per night? hour/min </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>3. Do you smoke? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>No</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>4. Do you drink alcohol? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span>Yes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>5. How many drinks do you have each week? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>6. Do you spend at least 20 mins/day in open sunlight? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>7. How many hours a week of physical activity you perform? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>8. What type of physical activity you perform? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>9. Indicate what sport you prefer </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                                <hr />
                                <h3>Nutrition beverage</h3>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>1. Soda, juice, sweet tea (including diet) </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>2. Sports drink </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>3. Caffeinated drinks </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>4. Glass of water </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                                <hr />
                                <h3>Nutrition habits</h3>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>1. Fish </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>2. Red meats </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>3. Poultry </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>4. Pork </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>5. Shelfish & sea food </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>6. Processed meats </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>7. Beans </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>8. Dairy </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>9. Vegetable </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>10. Fruits </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>11. Nuts </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>12. Grains </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>13. Takeout / Restaurant </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                                <hr />
                                <h3>Supplements</h3>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>1. Please include </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span><li>Vitamin A</li><li>Selenium</li></span>
                                    </div>
                                </div>
                            </div>
                                <hr />
                                <h3>Mind & mood</h3>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>1. Do i feel sad, empty and/or dissatisfied with my life? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>2. Do i have difficulty remembering and concentrating? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>3. Do i feel stressed and/or exhausted most of the day? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>4. I have difficulty sleeping at night? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>5. Are you pregnant? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>6. Are you breastfeeding? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>7. Are you taking hormonal contraceptives? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>8. What is your menopausal state? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>9. Post-menopausal (more than 12 months since your last period) </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                                <hr />
                                <h3>Diet</h3>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>1. Is one of my priorities to maintain a low-cost diet? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>2. How much time do i have to prepare my meals? (hour / min) </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>3. I have a diet </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>4. Do i feel Bloted? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>5. Do I have brittle nails? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>6. I have </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>7. I am allergic to </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                                <hr />
                                <h3>Permission</h3>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="form-group">
                                        <label>1. Allow sharing this information? </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <input type="button" id="volver" value="Volver" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                <footer class="footer text-center">
                    2018 &copy; Zabia
                </footer>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#nav-user').addClass('active');
            });

            $('#volver').click(function() {
                location.href = 'usuarios.php';
            });
        </script>
    </body>
</html>